.title-header {
  text-align: center;
  margin-top: 2rem;
  color: #233142;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card p,
.card img {
  max-width: 290px;
}

.card button {
  border: none;
  background-color: #03394b;
  color: #fafaff;
  padding: 1rem;
  cursor: pointer;
}

.movie {
  margin: 3rem;
  background-color: #e3e3e3;
  border-radius: 10px;
  padding: 1rem;
}
